
@using Agility.Web;
@using Agility.Web.Mvc;


<div class="container theme-showcase one-column-template contentWrap" role="main">
    @await Component.RenderContentZone("MainContentZone")
</div>